name: Package Docker Images

on:
  workflow_dispatch:

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Pull and Save Images
        run: |
          docker pull nginx:alpine
          docker pull alpine
          docker save nginx:alpine alpine -o images.tar

      - name: Upload to Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "images.tar"
          tag: v1.0
