name: Package Docker Images

on:
  workflow_dispatch:  # 允许手动触发

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Pull required Docker images
        run: |
          docker pull nginx:alpine
          docker pull alpine
          echo "Images pulled successfully."

      - name: Save images to tar file
        run: |
          docker save nginx:alpine alpine -o images.tar
          ls -lh images.tar

      - name: Upload as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-images
          path: images.tar
